<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>header</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div th:fragment="header">

<div class="d-flex align-items-center">

    <!-- Logo à gauche -->
    <div class="logo-header">
        <img th:src="@{/img/flash_cash_logo.png}" alt="">
    </div>

    <!-- TITLE -->
    <div class="flashcash">
        <h1>Flash Cash</h1>
        <p class="tagline">Send money instantly</p>
    </div>

    <!-- Liens à droite -->
    <nav class="d-flex gap-4 ms-auto" style="margin-top: -1%">
        <a class="text-decoration-none " th:href="@{/home}">Home</a>
        <a class="text-decoration-none " th:href="@{/transfer}">Transfer</a>
        <a class="text-decoration-none " th:href="@{/profile}">Profile</a>
        <a class="text-decoration-none " th:href="@{/contact}">Contact</a>

        <a class="text-decoration-none"
           href="#"
           onclick="document.getElementById('logout-form').submit()">
            Logout
        </a>
        <form id="logout-form" th:action="@{/logout}" method="post" style="display:none"></form>
    </nav>

</div>
</div>
</body>
</html>