<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content">
<div class="container d-flex justify-content-center">

    <div class="card p-4 shadow" style="width: 350px; margin-bottom: 12%;">

        <p class="text-center">Instant transfer to your Bank</p>

        <form th:action="@{/addCash}" method="post">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
            <div class="mb-3">
                <label for="iban"></label>
                <select id="iban" name="iban" class="form-select mb-2" required>
                    <option value="">--Select IBAN --</option>

                    <option th:each="saved : ${savedIbans}"
                            th:value="${saved.iban}"
                            th:text="${saved.bankName + ' - ' + saved.iban}">
                    </option>
                </select>
                <input type="text" id="amount" name="amount" class="form-control" placeholder="Amount €" >
            </div>
            <div class="d-grid">
                <input class="btn-start btn-sm" type="submit" value="Transfer">
            </div>
        </form>

    </div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>