<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content">

    <div class="container d-flex justify-content-center">

        <div class="card p-4 shadow" style="width: 350px; margin-bottom: 12%;">
            <form th:action="@{/addFriend}" method="post">

                <div class="mb-3">
                    <label for="emailFriend"></label>

                    <select id="emailFriend"
                            name="friendEmail"
                            class="form-select mb-2"
                            required>

                        <option value="">--Select Friend--</option>

                        <option th:each="user : ${users}"
                                th:value="${user.email}"
                                th:text="${user.email}">
                        </option>

                    </select>
                </div>

                <div class="d-grid">
                    <input class="btn-start btn-sm" type="submit" value="Add">
                </div>

            </form>
    </div>


</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>