<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>contact</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div>

<div class="container-fluid">
    <div>
        <button th:if="${#authorization.expression('hasRole(''ADMIN'')')}"
                th:action="@{/delete}" class="btn btn-custom">
            Delete
        </button>
    </div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>