
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:HH="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
<!---------------------------------------------HEADER-->
<div th:replace="fragments/header :: header"></div>
<!--------------------------------------------MY PROFILE-->
<div class="card p-4 shadow" style="margin: 3%">
<div class="container d-flex justify-content-start align-items-center justify-content-center">
<!--ADD Cash to your flashCash-->
<div class="container d-flex justify-content-center">

    <div class="card p-4 shadow" style="width: 350px;">

        <p class="border p-3 rounded  card-title">Add cash to Flash Cash</p>
        <p class="text-center">Add cash with your credit card</p>
        <p class="text-center ">Free</p>
        <p class="text-center ">Instant deposit</p>
        <p class="text-center ">Fully secured</p>
        <!-- Buttons -->

        <div class="d-flex justify-content-center gap-3">
            <a th:href="@{/addCash}" class="btn btn-primary btn-a ">
                Start
            </a>
        </div>
    </div>
</div>

<!--Transfer to your bank-->
<div class="container d-flex justify-content-center">

    <div class="card p-4 shadow" style="width: 350px;">

        <p class="border p-3 rounded card-title">Transfer to your bank</p>
        <p class="text-center ">Instant transfer</p>
        <p class="text-center ">Free</p>
        <p class="text-center ">Worldwide</p>
        <p class="text-center ">Fully secured</p>
        <!-- Buttons -->

        <div class="d-flex justify-content-center gap-3">
            <a th:href="@{/personalTransfer}" class="btn btn-primary btn-a ">
                Start
            </a>
        </div>
    </div>
</div>
                            <!--ADD IBAN-->
<div class="container d-flex justify-content-center">


    <div class="card p-4 shadow" style="width: 350px;">

        <p class="border p-3 rounded  card-title">Add An Iban</p>
        <p class="text-center ">Add your IBAN here</p>
        <p class="text-center ">Up to 5 IBAN</p>
        <p class="text-center ">Any bank supported</p>
        <p class="text-center ">Fully secured</p>
            <!-- Buttons -->
        <div class="d-flex justify-content-center gap-3">
            <a th:href="@{/addIban}" class="btn btn-primary btn-a ">
                Start
            </a>
            <a th:href="@{/showIban}" class="btn btn-primary btn-a">
                Show IBAN
            </a>
        </div>
    </div>
    </div>
    </div>
                    <!--    Account-->
    <div class="my-profile border p-3 rounded shadow card-title">
        <h2> My account Balance</h2>
        <div class="container mt-3">
            <table class="table table-hover text-center">
                <thead class="table-light">
                <tr>
                    <th>User</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${user.email}">email</td>
                    <td th:text="${user.account != null ? user.account.balance : 0}"></td>
                </tr>
                </tbody>
            </table>

            <table class="table table-hover text-center">
                <thead class="table-light">
                <tr>
                    <th>UserReceiver</th>
                    <th>Date</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="transfer : ${transfers}">
                    <td th:text="${transfer.senderAccount.user.email}"></td>

                    <td th:text="${#temporals.format(transfer.date, 'dd/MM/yyyy HH:mm')}"></td>

                    <td th:text="${transfer.amountBeforeFee}"></td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>

<!------------FOOTER-->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>


<!--[Clic Sign Out]-->
<!--|-->
<!--v-->
<!--[POST /logout + token CSRF]-->
<!--|-->
<!--v-->
<!--[Spring vérifie le token]-->
<!--|-->
<!--v-->
<!--[Session détruite]-->
<!--|-->
<!--v-->
<!--[Redirection /login]-->