
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>Header</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">


</head>
<body>
<!---------------------------------------------HEADER-->
<div th:replace="fragments/header :: header"></div>
<!--------------------------------------------MY PROFILE-->
<div class="card p-4 shadow" id="my-profile">
    <div class="my-profile">
        <h2> My profile</h2>
    </div>

<div class="container d-flex justify-content-start align-items-center justify-content-center">
<!--ADD Cash to your flashCash-->
<div class="container d-flex justify-content-center">

    <div class="card p-4 shadow" style="width: 350px;">

        <p class="btn btn-primary btn-sm">Add cash to Flash Cash</p>
        <p class="text-center mb-4">Add cash with your credit card</p>
        <p class="text-center mb-4">Free</p>
        <p class="text-center mb-4">Instant deposit</p>
        <p class="text-center mb-4">Fully secured</p>
        <!-- Buttons -->
        <form  class="btn-sm" th:action="@{/addCash}" method="post">
            <div class="d-grid">
                <input class="btn-start" type="submit" value="Start">
            </div>
        </form>
    </div>
</div>

<!--Transfer to your bank-->
<div class="container d-flex justify-content-center">

    <div class="card p-4 shadow" style="width: 350px;">

        <p class="btn btn-primary btn-sm">Transfer to your bank</p>
        <p class="text-center mb-4">Instant transfer</p>
        <p class="text-center mb-4">Free</p>
        <p class="text-center mb-4">Worldwide</p>
        <p class="text-center mb-4">Fully secured</p>
        <!-- Buttons -->
        <form  class="btn-sm" th:action="@{/transferCash}" method="post">
            <div class="d-grid">
                <input class="btn-start" type="submit" value="Start">
            </div>
        </form>
    </div>
</div>
                            <!--ADD IBAN-->
<div class="container d-flex justify-content-center">


    <div class="card p-4 shadow" style="width: 350px;">

        <p class="btn btn-primary btn-sm">Add An Iban</p>
        <p class="text-center mb-4">Add your IBAN here</p>
        <p class="text-center mb-4">Up to 5 IBAN</p>
        <p class="text-center mb-4">Any bank supported</p>
        <p class="text-center mb-4">Fully secured</p>
            <!-- Buttons -->
            <form  class="btn-sm" th:action="@{/addIban}" method="post">
                <div class="d-grid">
                    <input class="btn-start" type="submit" value="Start">
                </div>
            </form>
    </div>
    </div>
    </div>
    <div class="my-profile">
        <h2> My account Balance</h2>

        <div class="container mt-5">

            <table class="table table-hover text-center">
                <thead class="table-light">
                <tr>
                    <th>User</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td sec:authentication="principal.username"></td>
                    <td class="text-danger">-502.5</td>
                </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<!----------------------------------------------FOOTER-->
<div th:replace="fragments/footer :: footer"></div>
</body>
</html>


<!--[Clic Sign Out]-->
<!--|-->
<!--v-->
<!--[POST /logout + token CSRF]-->
<!--|-->
<!--v-->
<!--[Spring vérifie le token]-->
<!--|-->
<!--v-->
<!--[Session détruite]-->
<!--|-->
<!--v-->
<!--[Redirection /login]-->