<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">

    <!-- Bootstrap CDN -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
</head>

<body class="bg-light">

<div class="container d-flex justify-content-center align-items-center min-vh-100">

    <div class="card shadow p-4" style="width: 400px; border-radius: 15px;">

        <h3 class="text-center mb-1">Create Account</h3>

        <!-- FORM -->
        <form th:action="@{/register}" th:object="${user}" method="post">
            <div th:if="${error}" class="alert alert-danger">
                <p th:text="${error}"></p>
            </div>


            <!-- First Name -->
            <div class="mb-3">
                <label class="form-label">First name</label>
                <label>
                    <input type="text" class="form-control"
                           th:field="*{firstName}"
                           placeholder="Enter first name" required>
                </label>
            </div>

            <!-- Last Name -->
            <div class="mb-3">
                <label class="form-label">Last name</label>
                <label>
                    <input type="text" class="form-control"
                           th:field="*{lastName}"
                           placeholder="Enter last name" required>
                </label>
            </div>

            <!-- Email -->
            <div class="mb-3">
                <label class="form-label">Email</label>
                <label>
                    <input type="email" class="form-control"
                           th:field="*{email}"
                           placeholder="Enter email" required>
                </label>
            </div>

            <!-- Password -->
            <div class="mb-3">
                <label class="form-label">Password</label>
                <label>
                    <input type="password" class="form-control"
                           th:field="*{password}"
                           placeholder="Enter password" required>
                </label>
            </div>

            <!-- Submit -->
            <div class="d-grid">
                <button type="submit" class="btn btn-primary">
                    Sign up
                </button>
            </div>

        </form>

        <div class="text-center mt-3">
            <small>Already have an account?
                <a th:href="@{/login}" class="signup-link ms-1">Login</a>
            </small>
        </div>

    </div>

</div>

</body>
</html>