<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="content">
<div class="container d-flex justify-content-center">
    <div class="card p-4 shadow">
        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>
        <div th:if="${success}" class="alert alert-success" th:text="${success}"></div>
        <table class="table ">
            <thead>
            <tr>
                <th>Bank Name</th>
                <th>IBan</th>
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="iban : ${ibanList}">
                <td th:text="${iban.bankName}"></td>
                <td th:text="${iban.iban}"></td>
                <td class="d-flex gap-2">

                    <!-- MODIFY -->
                    <a th:href="@{/showIban/{id}(id=${iban.id})}"
                       class="btn btn-primary btn-sm rounded-pill px-3 shadow-sm">
                         Modify
                    </a>

                    <!-- DELETE -->
                    <form th:action="@{/deleteIban/{id}(id=${iban.id})}"
                          method="post"
                          onsubmit="return confirm('Are you sure you want to delete this IBAN ?');">

                        <button type="submit"
                                class="btn btn-danger btn-sm rounded-pill px-3 shadow-sm">
                             Delete
                        </button>
                    </form>

                </td>
            </tr>
            <tr>
                <!--ADD-->
                <td class="d-flex gap-2">
                <a th:href="@{/addIban}" class="btn btn-primary btn-sm">
                    <i class="ti ti-player-play"></i>
                    Add
                </a>
                </td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
</div>
</div>
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>